<!--<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <p class="lead"><%= LoremIpsum.lorem_ipsum(paragraphs: 5, html: true) %></p>
  <label for="floatingTextarea2">Find me in app/views/help/index.html.erb</label>
</div>-->
<% (1..4).each_with_index do |index, _val| %>
  <% string = "#{index.to_s}. #{LoremIpsum.lorem_ipsum(300)}." %>
  <%= content_tag(:p, string, class: "lead", style: "font-size: 0.96rem;") %>
  <hr>
<% end %>
